.S-label {
    background-color: rgb(255, 127, 128);
}

.A-label {
    background-color: rgb(255, 192, 127);
}

.B-label {
    background-color: rgb(255, 223, 128);
}

.C-label {
    background-color: rgb(255, 255, 127);
}

.D-label {
    background-color: rgb(191, 255, 127);
}

.F-label {
    background-color: rgb(127, 255, 127);
}

.tierlist_container {
    display: flex;
    flex-direction: column;
    width: 70vw;
    border: 2px solid gray;
}

.image {
    aspect-ratio: 2.5
}